/*Julio Garcia
5/08/2021*/
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    min-height: 100%;
    position: relative;
}

body{
    margin: 0;
    margin-bottom: 120px;
}

.container{
    text-align: center;
    margin-top: 20px;
}

.titulo{
    margin-bottom: 45px;
}

#editar:hover{
  cursor: pointer;
}

::placeholder{
    color: #000000 !important;
}

#search{
    border-radius: 30px !important;
    background-color: #D8D8D8 !important;
}
#export-pdf {
    border-radius: 8px;
    background-color: #3d9be9;
    color: #f3f3f3;
    width: 187px;
    height: 45px;
  }
  
  #export-excel {
    border-radius: 8px;
    background-color: #09254f;
    color: #f3f3f3;
    width: 187px;
    height: 45px;
  }


footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
.button-export {
    text-align: center;
    width: 50%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  #button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
  }
  
  @media (max-width: 768px) {
    #input-container {
      flex-direction: column;
    }
    #button-container {
      flex-direction: column;
    }
  
    .button-export {
      width: 80%;
      margin-bottom: 10px;
    }
  
    .combo {
      width: 100% !important;
    }
    .combo-container {
      width: 80%;
    }
  }
  
  @media (max-width: 1250px) {
    #button-container {
      width: 60%;
    }
  }

