<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <authentication>
                <anonymousAuthentication userName="albin" password="[enc:IISCngProvider:mmD1eQ9qUFdjMK+zqDe9QXnlZ5FKoY3glChPwxHFMIkCzI9BBwNLkysZVkFGTvsnp9EVs0DMacs5isp8b4cmI8ImOwc0ifiRt1It/FRuGPk=:enc]" />
            </authentication>
        </security>
    </system.webServer>
    <system.web>
        <identity password="Leonel2017" userName="albin" />
    </system.web>
</configuration>
