/*Julio Garcia
9/08/2021*/
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    min-height: 100%;
    position: relative;
}

body{
    margin: 0;
    margin-bottom: 120px;
}

.container{
    margin-top: 20px;
}


.create{
    border-radius: 8px;
    background-color: #3D9BE9;
    color: #F3F3F3;
    width: 187px;
    height: 45px;
}

footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .col{
    display: flex ;
    text-align: center ;
  }
  
  .row{
    background-color: #D8D8D8;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .reloj{
     width: 30px;
  }

  p{    
    margin: 0;
    padding-top: 8px;
    padding-left: 8px;
  }

  .delete:hover{
    cursor: pointer;
  }