*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.container{
    text-align: center;
    margin-top: 125px;
}

.titulo,img{
    margin-bottom: 45px;
}

::placeholder{
    color: #000000 !important;
}

input, select{
    background-color: #CACACA !important;
}

.btn{
    background-color: #3D9BE9;
    color: #F3F3F3;
    width: 187px;
    height: 50px;
   
}
