/*Julio Garcia
5/08/2021*/
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.container{
    text-align: center;
    margin-top: 125px;
}

.titulo{
    margin-bottom: 45px;
}

::placeholder{
    color: #000000 !important;
}

#search{
    border-radius: 30px !important;
    background-color: #D8D8D8 !important;
}

.createuser{
    border-radius: 8px;
    background-color: #3D9BE9;
    color: #F3F3F3;
    width: 187px;
    height: 45px;
}