*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    min-height: 100%;
    position: relative;
}

body{
    margin: 0;
    margin-bottom: 120px;
}

.container-card {
    display: flex;
    padding: 0 10% 0 10%;
    align-items: center;
    justify-content: space-around;
    margin: 40px 0 40px 0;
}

.div-card {
    background-color: #3D9BE9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 30%;
    border-radius: 0 0 20px 20px;
}

.div-card:hover {
    box-shadow: 0 8px 16px 0 rgb(0, 0, 0, 0.4);
}

.card {
    text-decoration: none;
    color: black;
}

.card:hover {
    color: #6644ED;
}

.card_container {
    padding: 0 16px;
    text-align: center;
    background-color: #09254F;
    color: white;
    height: 60px;
    width: 100%;
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-fondo {
    background-color: #3D9BE9;
    border-radius: 0 0 20px 20px;
    align-items: center;
}

.img-margin {
    margin-top: 10px;
    margin-bottom: 10px;
}

.container{
    margin-top: 40px;
}

footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }